<div class="login-screen">
  <div class="login-container-aqua">
    <div class="brand-section">
      <h2 class="hospital-title">SISTEMA HOSPITALARIO</h2>
      <p class="subtitle">Identifícate para gestionar turnos</p>
    </div>

    <form (submit)="onLogin($event)" autocomplete="off">
      <div class="form-floating-custom">
        <label>CORREO ELECTRÓNICO</label>
        <input type="email" 
               name="email" 
               [(ngModel)]="loginData.email" 
               required 
               autocomplete="off"
               placeholder="usuario@hospital.com">
      </div>

      <div class="form-floating-custom">
        <label>CONTRASEÑA</label>
        <input type="password" 
               name="password" 
               [(ngModel)]="loginData.password" 
               required 
               autocomplete="new-password"
               placeholder="••••••••">
      </div>

      <button type="submit" class="btn-ingresar-yanbal">INGRESAR</button>
    </form>
  </div>
</div>